<header>
    <nav>
        <section class="links-container">
            <a href="/"><img src="/images/logo.png" alt=""></a>
            <ul>
                <li><a href="/#">Browse</a></li>
            </ul>
        </section>
      
        <section class="search-container">
            <form action="/search" method="get" id="search">
                <input type="search" name="query" id="search-input" placeholder="Search...">
            </form>
        </section>
    </nav>
</header>