<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%- title %></title>
<link rel="stylesheet" href="/styles/styles.css">
<link rel="icon" type="image/svg+xml" href="/images/W_logo.png" />