<header>
    <nav>
        <section class="links-container">
            <img src="/images/logo.png" alt="">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#">Browse</a></li>
            </ul>
        </section>
      
        <section class="search-container">
            <form action="/search" method="get" id="search">
                <span class="material-symbols-outlined">search</span>
                <input type="search" name="query" id="search-input" placeholder="Search...">
            </form>
        </section>
    </nav>
</header>