<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h1>404</h1>
        <section>
            <h2>You seem to be lost.</h2>
            <p>Sorry, we can't seem to find that page.</p>
            <a href="/">Webflix home</a>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>