<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h1></h1>
        <section>
            <h2></h2>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/scripts/script.js"></script>
</body>
</html>