@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Syne:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;1,800;1,900&display=swap');

/* reseting styling */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* root variables */
:root {
    /* color variables */
    --main-bg-color: #202020;
    --font-color: white;
    --footer-font-color: #808080;

    /* font variables */
    --main-font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    --footer-font-family: 'Questrial', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    margin: 1em;
}

nav section img {
    width: 130px;
    padding: .5em;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 1em;
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font-family);
    height: 100vh;
}

main section.trending ul {
    display: flex;
    overflow: auto;
}

main section.trending ul li {
    margin-top: 1em;
    margin-left: 1em;
    width: 230px;
}

main section.trending ul li:nth-last-child() {
    margin-right: 1em;
}

main section.trending ul li img {
    width: 230px;
}

footer p {
    font-family: var(--footer-font-family);
    color: var(--footer-font-color);
}

