@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Syne:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;1,800;1,900&display=swap');

/* reseting styling */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* root variables */
:root {
    /* color variables */
    --main-bg-color: #202020;
    --nav-bg-color: #171717;

    --font-color: white;
    --footer-font-color: #808080;

    /* font variables */
    --main-font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    --footer-font-family: 'Questrial', sans-serif;
}

nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 100%;
    background-color: var(--nav-bg-color);
}

nav section.links-container {
    display: flex;
    align-items: center;
}

nav section a img {
    width: 130px;
    margin-top: .5em;
    padding: .5em;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 1em;
}

nav .search-container {
    position: relative;
    width: 200px;
    /* Adjust width as needed */
}

nav #search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2em;
}

nav form {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav form span {
    color: var(--font-color);
    margin-right: .5em;
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font-family);
    color: var(--font-color);
}

main {
    /* height: 100vh; */
    padding-top: 8em;
}

main a {
    text-decoration: none;
    color: var(--font-color);
}

main section ul {
    display: flex;
    overflow: auto;
    scrollbar-width: none;
}

main section ul li {
    list-style: none;
}

main.home h2 {
    color: var(--font-color);
    margin-left: 1em;
}

main.home section.trending ul li {
    margin-top: 1em;
    margin-left: 1em;
    width: 230px;
}

main.home section.trending ul li:last-child {
    margin-right: 1em;
}

main.home section.trending ul li img {
    width: 230px;
}

main.home section.popular ul li {
    margin-top: 1em;
    margin-left: 1em;
    width: 230px;
}

main.home section.popular ul li:last-child {
    margin-right: 1em;
}

main.home section.popular ul li img {
    width: 230px;
}

main.details div.detailsContainer {
    display: flex;
    align-items: center;
    margin: 1em;
    max-width: 80%;
}

main.details div.detailsContainer img.detailImage {
    width: 450px;
    height: 700px;
}

main.details div.detailsContainer section.movieDetails {
    margin: 1em;
}

main.details div.detailsContainer section.movieDetails span {
    color: var(--footer-font-color);
    margin-bottom: 1em;
}

main.details div.detailsContainer section.movieDetails h2 {
    font-size: 3em;
}

main.details div.detailsContainer section.movieDetails h2 span {
    color: gold;
}

main.details div.detailsContainer section.movieDetails h3 {
    margin-top: 1em;
}

main.details div.detailsContainer section.movieDetails p {
    margin-top: 1em;
}

main.details div.detailsContainer section.movieDetails p span {
    margin-top: 1em;
    padding-right: 3em;
}

main.details div.detailsContainer section.movieDetails section.relatedMovies {
    margin-top: 2em;
}

main.details div.detailsContainer section.movieDetails section.relatedMovies ul {
    margin-top: 1em;
    width: 750px;
    overflow: auto;
}

main.details div.detailsContainer section.movieDetails section.relatedMovies ul li img {
    max-height: 280px;
    margin-right: 1em;
}

main.details section.reviewContainer {
    margin: 3em;
    margin-left: 15em;
    margin-right: 15em;
    color: var(--footer-font-color);
}

main.details section.reviewContainer ul {
    display: flex;
    flex-direction: column;
}

main.details section.reviewContainer ul li {
    padding: 1em;
}

main.search section {
    margin: 1em;
}

main.search section h2 {
    margin-bottom: 1em;
}

main.search section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main.search section ul li {
    display: grid;
}

main.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--font-color);
}

main.error section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.error section a {
    background-color: var(--font-color);
    color: var(--nav-bg-color);
    margin: 1em;
    padding: 1em;
    border-radius: .5em;
}

footer p {
    font-family: var(--footer-font-family);
    color: var(--footer-font-color);
    margin-top: 5em;
    padding: 1em;
}